<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="title">Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="publishedAfter">Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label for="publishedBefore">Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br><br>
<div>
  <h2>Books by Author</h2>  
  <% books.forEach(book => { %> 
    <a href="/books/<%= book.id %> ">
      <div> 
        <!-- <img height="300" width="200" src="<%= book.coverImagePath %> "> Use An Image -->
        <h3><%= book.title %></h3>
        <%= book.description %>
        <br>
        <%= book.author %>
        <br>
        <%= book.publishDate.toDateString() %>
      </div> -->
  </a>
  <% }) %> 
</div>