<!-- Set Variables -->
<% greeting1 = '--==@ Peace King! @==--' %> 
<% greeting2 = '--==@ Salaam Prince! @==--' %> 
<% bookCoverClass = locals.large ? 'book-cover-large': 'book-cover' %> 
<% bookGridClass = locals.large ? 'book-grid-large': '' %>
<% salutation = locals.large ? greeting1 : greeting2 %>
<% bookImage = 'https://via.placeholder.com/200x300/ED9B40/BA3B46?text=Ahmedify.io' %> 


<!-- Display all the boooks -->
<h2><%= salutation %></h2>
<div class="book-grid <%= bookGridClass %>">
  <% books.forEach(book => { %> 
    <a href="/books/<%= book.id %> ">
      <!-- <img class="book-cover" width="100" height="150" src="<%= book.coverImagePath %>" title="<%= book.title %>"> -->
      <img class="book-cover" width="200" height="300"
        src="<%= book.coverImagePath != null
          ?  book.coverImagePath 
          : bookImage %>"
        alt="<%= book.title %>" title="<%= book.title %>">
    </a>
  <% }) %> 
</div>
